
body {
    text-align: center;
}

h1 {
    color: red;
    text-align:center;
}

body {
    background-color: chartreuse;
}

p {
    border-style: double;
    color: yellow;
}

p {
    margin:-top: 50px;
}
